<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VIT SIAP</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <div class="container">
  <h5>Welcome, <%= user ? user.name : 'Guest' %> (<%= user ? user.vit_email : '' %>)!</h5>
        <hr>  <div class="card">
              <div class="card-header">
                <i class="bi bi-megaphone-fill"></i>&nbsp;<b>Announcements</b>
              </div>
              <div class="card-body">
                <%if (announcements && announcements.length>0){ %> <%
                announcements.forEach(function(announcements) { %>
                <ul>
                  <li><b><%=announcements.title%>&nbsp;<a target="_blank" href="<%=announcements.link%>">(Click Here)</a></b></li>
                  <br><p align="justify"><%=announcements.description %></p>
                </ul>
                <% }) %> <% } else{ %>
                <b>No Announcements to show!</b>
                <% } %>
              </div>
            </div>
            <hr>
      <h4>Active Internship Openings</h4>
      <hr />
      <% if (internships && internships.length > 0) { %> <%
      internships.forEach(function(internship) { %>
      <table class="table">
        <tr>
          <td colspan="5">
            <b><%= internship.company %> </b>
          </td>
          <td colspan="2">
            <b>Deadline: <%=internship.last_date%></b>
          </td>
        </tr>

        <tr>
          <td>
            <span class="badge text-bg-warning"
              >Eligible Branches : <%=internship.branches%></span
            >
          </td>
          <td>
            <span class="badge text-bg-warning"
              >Class X : <%=internship["10th_cutoff"]%>%</span
            >
          </td>
          <td>
            <span class="badge text-bg-warning"
              >Class XII : <%=internship["12th_cutoff"]%>%</span
            >
          </td>
          <td>
            <span class="badge text-bg-warning"
              >Minimum CGPA : <%=internship.cgpa_cutoff %>/10</span
            >
          </td>
          <% if(internship.arrear === "YES"){ %> &nbsp;
          <td>
            <span class="badge text-bg-success">Standing Arrears Allowed</span>
          </td>
          <% } else if(internship.arrear === "NO") { %> &nbsp;
          <td><span class="badge text-bg-danger">No Standing Arrears</span></td>

          <% } %> <% if(internship.academic_gap === "YES"){ %> &nbsp;
          <td>
            <span class="badge text-bg-success">Academic Gap Allowed</span>
          </td>
          <% } else if(internship.academic_gap === "NO") { %> &nbsp;
          <td>
            <span class="badge text-bg-danger">Academic Gap Not Allowed</span>
          </td>

          <% } %>

          <td rowspan="2">
            <a class="btn btn-warning" href="/internship/<%=internship.id%>"
              >Apply&nbsp;<i class="bi bi-box-arrow-in-right"></i
            ></a>
          </td>
        </tr>
      </table>

      <% }) %> <% } else { %>
      <p><b>There are no internship openings at the moment!</b></p>
      <% } %>
      <h4>My Internship Applications</h4>
      <hr />

      <% if (applications && applications.length > 0) { %>
      <table class="table">
        <tr>
          <td rowspan="2"><b>Company</b></td>
          <td colspan="4"><b>Selection Status</b></td>
        </tr>
        <tr>
          <td><b>Pre-Placement Talk</b></td>
          <td><b>Online Assesment</b></td>
          <td><b>Interview</b></td>
          <td><b>Summer Internship</b></td>
        </tr>
        <% applications.forEach(function(application) { %>
        <tr>
          <td>Demo Text</td>
          <% if (application.ppt_status=="Review in Progress"){ %>
          <td>
            <span class="badge rounded-pill bg-secondary"
              >Review in Progress</span
            >
          </td>
          <% } else if(application.ppt_status=="Selected") { %>
          <td><span class="badge rounded-pill bg-success">Selected</span></td>

          <% } else if(application.ppt_status=="Not Selected") { %>
          <td>
            <span class="badge rounded-pill bg-danger">Not Selected</span>
          </td>

          <% } %>

          <% if (application.oa_status=="Review in Progress"){ %>
          <td>
            <span class="badge rounded-pill bg-secondary"
              >Review in Progress</span
            >
          </td>
          <% } else if(application.oa_status=="Selected") { %>
          <td><span class="badge rounded-pill bg-success">Selected</span></td>

          <% } else if(application.oa_status=="Not Selected") { %>
          <td>
            <span class="badge rounded-pill bg-danger">Not Selected</span>
          </td>

          <% } %>

          <% if (application.interview_status=="Review in Progress"){ %>
          <td>
            <span class="badge rounded-pill bg-secondary"
              >Review in Progress</span
            >
          </td>
          <% } else if(application.interview_status=="Selected") { %>
          <td><span class="badge rounded-pill bg-success">Selected</span></td>

          <% } else if(application.interview_status=="Not Selected") { %>
          <td>
            <span class="badge rounded-pill bg-danger">Not Selected</span>
          </td>

          <% } %>

          <% if (application.selection_status=="Review in Progress"){ %>
          <td>
            <span class="badge rounded-pill bg-secondary"
              >Review in Progress</span
            >
          </td>
          <% } else if(application.selection_status=="Selected") { %>
          <td><span class="badge rounded-pill bg-success">Selected</span></td>

          <% } else if(application.selection_status=="Not Selected") { %>
          <td>
            <span class="badge rounded-pill bg-danger">Not Selected</span>
          </td>

          <% } %>




        </tr>
      </table>

      <% }) %> <% } else { %>
      <p><b>You have not applied to any internships yet!</b></p>
      <% } %>
    </div>
           <%- include('../partials/footer.ejs') %>
<script src="/script.js"></script>
  </body>
</html>
