<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VIT SIAP</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <div class="container">
      <% if (internships && internships.length > 0) { %>
      <div class="accordion" id="accordionExample">
      <% internships.forEach(function(internship, idx) { %>

        <div class="accordion-item">
          <h2 class="accordion-header" id="heading<%= idx %>">
            <button
                class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse<%= idx %>"
                aria-expanded="false"
              aria-controls="collapse<%= idx %>"
            >
              <%= internship.company %> &nbsp;
              <span class="badge bg-warning text-dark"
                ><%= internship.branches %></span
              >
              &nbsp;<span class="badge bg-warning text-dark"
                >Class X: <%= internship["10th_cutoff"] %></span
              >
              &nbsp;<span class="badge bg-warning text-dark"
                >Class XII: <%= internship["12th_cutoff"] %></span
              >
              &nbsp;<span class="badge bg-warning text-dark"
                >Minimum CGPA: <%= internship.cgpa_cutoff %></span
              >
              &nbsp;<span class="badge bg-warning text-dark"
                >Standing Arrears Allowed? : <%= internship.arrear %></span
              >
              &nbsp;<span class="badge bg-warning text-dark"
                >Academic Gap Allowed? : <%= internship.academic_gap %></span
              >
            </button>
          </h2>
          <div
            id="collapse<%= idx %>"
            class="accordion-collapse collapse"
            aria-labelledby="heading<%= idx %>"
            data-bs-parent="#accordionExample"
          >
              <div class="accordion-body">
              <table class="table">
                <tr>
                  <td colspan="3"><b>JOB DESCRIPTION</b></td>
                </tr>
                <tr>
                  <td colspan="3"><%= internship.jd %></td>
                </tr>
                <tr>
                  <td><b>Date of Pre-Placement Talk</b></td>
                  <td><b>Date of Online Assesment</b></td>
                  <td><b>Date of Interview</b></td>
                </tr>
                <tr>
                  <td><%= internship.ppt_date %></td>
                  <td><%= internship.oa_date %></td>
                  <td><%= internship.interview_date %></td>
                </tr>
                <tr>
                    <td><a class="btn btn-warning" href="<%= internship.company_website %>">Company Website</a></td>
                    <td><a class="btn btn-warning" href="<%= internship.company_registration_link %>">Company Registration Link</a></td>
                    <td><a class="btn btn-warning" href="/registration/<%= internship.id %>">Apply Now</a></td>

                </tr>
                <tr>
                    <td colspan="3" style="text-align: center;">Last Date to Apply on Company Registration Link / VIT SIAP is <b><%= internship.last_date %></b> by <b><%= internship.last_time %></b></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <hr>

      <% }) %>
      </div>
      <% } else { %>
      <p>No internships available at the moment.</p>
      <% } %>
      <%- include('../partials/footer.ejs') %>
    </div>
  </body>
</html>
